/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

section {
    padding: 2rem;
}

h1, h2 {
    color: #444;
}

.mission {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.technologies ul {
    list-style-type: none;
    padding: 0;
}

.technologies li {
    background-color: #e4e4e4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Animação para o título */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

h1 {
    animation: fadeIn 2s ease-out;
}
